.profile-container{
    width: 100%;
    text-align: center;
}
.profile-body{
    width: 50%;
    font-size: 20px;
    display: inline-block;
}
.profile-row{
    width: 100%;
    display: inline-block;
    margin: 10px;
}
.profile-title{
    float: left;
}
.profile-content{
    float: right;
    width: 50%;
    text-align: left;
    padding-left: 10px;
}
.warning {
    color:red;
    font-size: 20px;
    }
.button{
    margin-top: 5px;
}
.defbtn{
    margin-left: 10px;
    cursor: pointer;
}
.my-pic{
    background-image: url("../resource/background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    align-content: center;
    width: 100%;
    height: 100rem;
}
.my-title{
    text-align: center;
    padding: 20px;
    margin: 0;
}
.form-container{
    text-align: center;
    display: block;
}
.my-form{
    width: 500px;
    display: inline-block;
    text-align: left;
}
@media (max-width: 700px){/*below 700px */
    .my-form{
        width: 90%;
    }
}
@media (max-width: 768px){
.navbar {
    width: 95%;
}
}
.my-nav{
    position: fixed;
    top: 0;
}